@import "../../styles/variables.scss";

.root {
  background-color: $color-gray-100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .form {
    background-color: $color-white;
    padding: 16px 24px;
    box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
    border-radius: 5px;
    min-width: 80%;
    display: grid;
    grid-template-rows: 0.7fr 0.5fr 1fr 1fr;
    gap: 20px;
    .header {
      text-align: center;
      color: $color-black;
    }

    .header2 {
      text-align: center;
      color: $color-black;
    }

    .button {
      margin-top: 15px;
    }

    .mailIcon {
      margin-left: 10px;
      margin-top: 3px;
    }

    .passwordIcon {
      margin-left: 8px;
    }

    .loading {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .root {
    .form {
      min-width: 400px;
    }
  }
}
