@import "../../../styles//variables.scss";

.icon {
  &.xs {
    width: $icon-size-xs;
    height: $icon-size-xs;
  }
  &.small {
    width: $icon-size-small;
    height: $icon-size-small;
  }
  &.medium {
    width: $icon-size-medium;
    height: $icon-size-medium;
  }
  &.large {
    width: $icon-size-large;
    height: $icon-size-large;
  }
}

.icon-mail {
  @extend .icon;
  fill: $color-white;
  stroke: $color-midnight-blue-500;
}

.icon-lock {
  @extend .icon;
  fill: $color-white;
  stroke: $color-midnight-blue-500;
}

.icon-left {
  @extend .icon;
  fill: $color-black;
  stroke: transparent;
  cursor: pointer;
}

.icon-close {
  @extend .icon;
  fill: $color-black;
  stroke: transparent;
  cursor: pointer;
}

.icon-project {
  @extend .icon;
  fill: $color-black;
  stroke: transparent;
  cursor: pointer;
}

.icon-add {
  @extend .icon;
  fill: $color-black;
  stroke: transparent;
  cursor: pointer;
}

.icon-logout {
  @extend .icon;
  fill: $color-black;
  stroke: transparent;
  cursor: pointer;
}

.icon-share {
  @extend .icon;
  fill: $color-midnight-blue-600;
  stroke: transparent;
  cursor: pointer;
}

.icon-text {
  @extend .icon;
  fill: $color-white;
  stroke: $color-midnight-blue-600;
  cursor: pointer;
}
