@import "../../styles//variables.scss";

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    margin-top: 200px;
    padding: 40px;
    border-radius: 3px;
    box-shadow: #11111a0d 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    .notFound {
      font-size: 80px;
    }

    .text {
      margin: 20px 10px;
    }
  }
}
