$color-purple-500: #5e75ee;
$color-purple-600: #4f68ec;
$color-purple-700: #3f53bd;

$color-midnight-blue-500: #537087;
$color-midnight-blue-600: #40607a;
$color-midnight-blue-700: #334d62;

$color-red-500: #ff6768;
$color-red-600: #ff554d;
$color-red-700: #c01048;

$color-gray-100: #f2f4f7;
$color-gray-200: #eaecf0;
$color-gray-300: #d0d5dd;

$color-black: #1a2631;
$color-white: #ffffff;

$color-light-purple: #dce1fb;

$font-size-xs: 12px;
$line-height-xs: 18px;

$font-size-sm: 14px;
$line-height-sm: 20px;

$font-size-md: 16px;
$line-height-md: 24px;

$font-size-lg: 18px;
$line-height-lg: 28px;

$font-size-xl: 20px;
$line-height-xl: 30px;

$display-font-size-xs: 24px;
$display-line-height-xs: 32px;

$display-font-size-sm: 30px;
$display-line-height-sm: 38px;

$display-font-size-md: 36px;
$display-line-height-md: 44px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$icon-size-xs: 16px;
$icon-size-sm: 20px;
$icon-size-md: 24px;
$icon-size-lg: 32px;
