.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

@media (min-width: 1024px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}
