@import "../../styles/variables.scss";

.root {
  padding: 10px 30px;
  border-radius: 5px;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
      z-index: -1;
    }
  }


  hr {
    border: 1px solid $color-gray-300;
    color: $color-gray-300;
    margin-bottom: 20px;
  }
}

