@import "../../styles/variables.scss";

.root {
  background-color: $color-white;
  box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
  padding: 10px 30px;
  border-radius: 5px;
  .title {
    color: $color-black;
  }
}
