@import "../../styles/variables.scss";

.root {
  width: 300px;
  height: 100%;
  position: fixed;
  transform: translateX(-240px);
  transition: ease-in-out 0.3s;
  &.open {
    transform: translateX(0);
  }
  .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    gap: 10px;
    .toggle {
      background-color: transparent;
      grid-column: 5 / 6;
      grid-row: 1 / 2;
      margin-top: 10px;
      margin-right: -20px;
    }

    .nav {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
      box-shadow: #32326926 0px 2px 5px 0px, #0000000d 0px 1px 1px 0px;
      background-color: $color-white;
      padding: 0 12px;
      min-height: 100%;
      ul {
        grid-template-columns: 1fr;
        list-style: none;
        padding: 0;
        height: 100%;
        .navLink {
          list-style: none;
          background-color: $color-white;
          cursor: pointer;
          text-align: left;
          padding: 10px 0 10px 20px;
          margin: 10px 0;
          display: flex;
          align-items: center;
          text-decoration: none;
          li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $color-black;
            .navItem {
              padding-left: 10px;
            }
          }

          &:hover {
            background-color: $color-gray-100;
          }
        }

        .active {
          background-color: $color-gray-100;
        }

        hr {
          border: 1px solid $color-gray-300;
          color: $color-gray-300;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .root {
    transform: translateX(0);
    &.open {
      transform: translateX(0);
    }
    .content {
      gap: 0;
      .toggle {
        display: none;
      }
    }
  }
}
